/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #fff;
    font-size: 14px;
    background: #111111;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #1b1b1b;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 26px;
    line-height: 1;
    font-weight: 700;
}

#footer .credits span {
    color: blue;
}

#footer .footer-top .footer-contact h3 span {
    color: blue;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}

#footer .footer-work ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer .footer-work h3 span {
    color: blue;
}

#footer .footer-info {
    font-size: 15px;
}

#footer .footer-info h3 span {
    color: blue;
}

#footer .footer-info h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-info form {
    margin-top: 30px;
    background: #fff;
    padding: 5px 10px;
    position: relative;
    border-radius: 4px;
    text-align: left;
}

#footer .end {
    padding: 20px;
}

#footer .credits {
    padding-top: 8px;
    font-size: 15px;
}

#footer .social-links {
    padding-top: 10px;
}
#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2b2b2b;
    color: #fff;
    line-height: 1;
    padding: 10px 5px;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: blue;
    color: #fff;
    text-decoration: none;
}